{% extends 'admin/header_footer1.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<center>
  <div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %} " role="alert"
  id="final" style="width: :500px;font-weight: bold;">
  {{message}}
</div>

</center>
{% endfor %}
{% endif %}
<section> 

<div class="container">    
<br>    
<br>    
<br>      
<br>  
<h3><center>Approved Educator List</center></h3><br><br>
<table id="example2" class="table table-bordered table-hover">
<!-- <thead> -->
<thead  style="background-color:#D3D3D3">
  
<tr  >
      
      <!-- <th><center>Company Id</th> -->
      <th><center>Full Name</center></th>
      <th><center>Email</center></th>
      <!-- <th><center>Title</center></th> -->
      <th><center>Mobile</center></th> 
      <th><center>Country</center></th> 
      <th><center>State</center></th> 
      <th><center>City</center></th> 
      <th><center>Image</center></th> 


      
      </tr>
      </thead>
      <tbody >
      {% for x in var  %}
      <tr align="center">
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.mobile}}</td>
        <td>{{x.country}}</td>
        <!-- <td><img src="{{x.photo.url}}" height="50" width="50"></td> -->
        <td>{{x.state}}</td>
        <td>{{x.city}}</td>
        <td><img src="{{x.image.url}}" height="50" width="50"></td>
        

       

      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  <br>    
<br>    
<br>      
<br> 
</section>     
  {% endblock %}


 