
<!DOCTYPE html>
{% load static %}

<html>

<head>
	<title>Academic performace prediction</title>
	<link rel = "icon" href = "{% static 'assets/images/cap.jpg' %}"  type = "image/x-icon">
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->

	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

	<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="#">
							<h1><span class="fa fa-graduation-cap" aria-hidden="true"></span> Academic  <label>performance Prediction</label></h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#" class="effect-3">Home</a></li>

								
								
								<li><a href="{% url 'reg' %}" class="effect-3">Register</a></li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle effect-3" data-toggle="dropdown">Login <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'login' %}"><center>Admin</center></a></li>
										<li class="divider"></li>
										<li><a href="{% url  'edu_login' %}"><center>Educator</center></a></li>
										<li class="divider"></li>
									</ul>
								</li>
								<!-- <li><a href="contact.html" class="effect-3">Contact</a></li> -->

							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>Education is the most powerful weapon<span> which you can use to change the world.</span></h3>
						<!-- <p>Hire. Train. Retain.</p> -->
						<!-- <div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="single.html">Read More »</a>
						</div> -->
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>The beautiful thing about learning is that <span>no one can take it away from you.</span></h3>
						<!-- <p>Hire. Train. Retain.</p> -->
						<!-- <div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="single.html">Read More »</a>
						</div> -->
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>The road to success and the road to failure  <span>are almost exactly the same.</span></h3>
						<!-- <p>Hire. Train. Retain.</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="single.html">Read More »</a>
						</div> -->
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">

						<h3>Opportunities don't happen. <span> You create them.</span></h3>
						<!-- <p>Hire. Train. Retain.</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg scroll" href="#welcome" role="button">Read More »</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>

	<div class="banner-bottom">
		<div class="container">
			<!-- <div class="tittle_head_w3ls">
				<h3 class="tittle">Abstract</h3>
			</div> -->
			<!-- <div class="inner_sec_grids_info_w3ls"> -->
				<div class="col-md-6 banner_bottom_left">
					<!-- <h4>Employment opportunities for <span>Professionals</span></h4> -->
					<p> Academic Performance Prediction aims at developing a robust academic performance prediction model, to gain an in-depth insight into student behavioral patterns and potentially help students to optimize their interactions with the university.</p>
					<p>Academic performance Prediction capture, analyze and use multisource data covering not only online and offline learning but also campus-life behaviors inside and outside of the classroom for academic performance prediction.</p>
					<!-- <ul class="some_agile_facts">
						<li><span class="fa fa-briefcase" aria-hidden="true"></span><label>80</label> Corporate Programs</li>
						<li><span class="fa fa-graduation-cap" aria-hidden="true"></span><label>49</label> Training Courses</li>
						<li><span class="fa fa-user" aria-hidden="true"></span><label>88</label> Strategic Partners</li>
						<li><span class="fa fa-line-chart" aria-hidden="true"></span><label>436</label> Companies We Helped</li>
					</ul> -->
					<!-- <div class="clearfix"> </div> -->
				</div>
				<div class="col-md-6 banner_bottom_right">
					<div class="agileits_w3layouts_banner_bottom_grid">
						<img src="{% static 'assets/images/ab.png' %}" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="clearfix"> </div>
			<!-- </div> -->

		</div>
	</div>
	<!-- //banner-bottom -->
	<div class="team_work_agile">
		<h4>The Pessimist Sees Difficulty In Every Opportunity. The Optimist Sees Opportunity In Every Difficulty.</h4>
	</div>
	
						
	

	<!-- footer -->
	
	<div class="footer_w3ls">
		<div class="container">
			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a href="#">
							<h2><span class="fa fa-graduation-cap" aria-hidden="true"></span> Academic <label>PERFORMAMCE PREDICTION</label></h2>
						</a>
						<p>© 2021. All rights reserved | Design by <a href="">Jincy</a></p>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
</body>

</html>