{% extends 'admin/header_footer1.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<center>
	<div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %} " role="alert"
	id="final" style="width: :500px;font-weight: bold;">
	{{message}}
</div>

</center>
{% endfor %}
{% endif %}
<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">WELCOME BACK... </h3>
			</div>
			
		</div>
	</div>
	<script src="{% static 'assets/js/sweetalert-dev.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/sweetalert.css' %}">



{% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}
{% endblock %}