<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}

<html>

<head>
	
	<title>Academic performance prediction</title>
	<link rel = "icon" href = "{% static 'assets/images/cap.jpg' %}"  type = "image/x-icon">
	
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

	<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="#">
							<h1><span class="fa fa-graduation-cap" aria-hidden="true"></span> Academic <label>Performance Prediction</label></h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav"><br><br>
								<li><a href="#" class="effect-3">Home</a></li>
								<!-- <li><a href="/view_all_data/" class="effect-3">View Academic details</a></li>
<li><a href="/search_regno/" class="effect-3">Find Academic behaviour Prediction</a></li> -->

<!-- <li><a href="/search_lstm/" class="effect-3">View Behaviour by LSTM</a></li>

								<li class="dropdown">
									<a href="" class="dropdown-toggle effect-3" data-toggle="dropdown">Educators <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/view_pending_educators/"><center>Pending Request</center></a></li>
										<li class="divider"></li>
										<li><a href="/approve_educators/"><center>Approved Request</center></a></li>
										<li class="divider"></li>
										<li><a href="/rejected_educators/"><center>Rejected Request</center></a></li>
										<li class="divider"></li>
									
									</ul>
								</li> -->
<!-- <li><a href="index.html" class="effect-3">View All Behavioral Change By LSTM</a></li>

<li><a href="/view_graph/" class="effect-3">View Academic Perfromance Prediction Results</a></li>
<li><a href="/poor_prediction/" class="effect-3">Extract Poor Academic Perfromance Prediction</a></li>

<li class="dropdown">
									<a href="" class="dropdown-toggle effect-3" data-toggle="dropdown">Extract Poor Academic Perfromance Prediction <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/poor_prediction/"><center>By Mental Health</center></a></li>
										<li class="divider"></li>
										<li><a href="/poor_prediction1/"><center>By Time Management</center></a></li>
										<li class="divider"></li>
										
									
									</ul>
								</li> --> 
								<li class="dropdown">
									<a href="" class="dropdown-toggle effect-3" data-toggle="dropdown">Educators <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'add_educator' %}"><center>Add Educators</center></a></li>
										<li class="divider"></li>
										<li><a href="{% url 'approve_educators' %}"><center>View Educators</center></a></li>
										<li class="divider"></li>
										<!-- <li><a href="/rejected_educators/"><center>Rejected</center></a></li>
										<li class="divider"></li>
									 -->
									</ul>
								</li>
								<!-- <li class="dropdown">
									<a href="" class="dropdown-toggle effect-3" data-toggle="dropdown">Academic <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/view_pending_educators/"><center>Add Academic</center></a></li>
										<li class="divider"></li>
										<li><a href="/approve_educators/"><center>View Academic</center></a></li>
										<li class="divider"></li>
										<li><a href="/rejected_educators/"><center>View performance</center></a></li>
										<li class="divider"></li>
									
									</ul>
								</li> -->
<li><a href="{% url 'logout' %}" class="effect-3">Logout</a></li>
								
								
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
	<div class="inner_page_agile">
		<!-- <h3>Login</h3> -->
		<!-- <p>Add Some Short Description</p> -->

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<!-- <ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Login</li>
			</ul> -->
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
{% block content %}
{% endblock %}
	
	<div class="footer_w3ls">
		<div class="container">
			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a href="#">
							<h2><span class="fa fa-graduation-cap" aria-hidden="true"></span> Academic <label>Performance Prediction</label></h2>
						</a>
						<p>© 2021. All rights reserved | Design by <a href="#">Jincy</a></p>
					</div>
				</div>
				<div class="col-md-3 footer_bottom_grid">
					<!-- <h6>Follow Us</h6>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>-->
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/sweetalert-dev.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/sweetalert.css' %}">



{% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}
</body>

</html>