{% extends 'educator/header_footer.html' %}

{% block content %}

	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<!-- <ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Employers</li>
			</ul> -->
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">My Profile </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					{% for x in views  %}

					<div class="tab_grid_prof">
						<div class="col-sm-3 loc_1">
							<!-- <a href=""><img src="/static/images/circle.jpg" alt=""></a> -->
							<!-- <a href=""><img src="{{x.image.url}}" alt=""></a> -->
     						 <img src="{{x.image.url}}" width="100px" height="100"></td>


						</div>
						<div class="col-sm-9">
							<div class="location_box1">
								<h6>{{x.comp_name}}</h6>
								<span class="m_2_prof">{{x.type_of_company}}</span>
								<div class="person-info">
									<ul>
										<li><span>Full name</span>: {{x.name}}</li>

										<li><span>Email ID</span>: {{x.email}}</li>
										<li><span>Location</span>: {{x.city}}</li>
										<li><span>Contact</span>: {{x.mobile}}</li>
										<li><span>State</span>: {{x.state}}</li>

										<!-- <li><span>Company Type</span>:{{x.type_of_company}}</li> -->
										<!-- <li><span>Nationality</span>: Portuguse</li> -->
									</ul>
								</div>
								<form action="{% url 'Update_Profile' %}" method="post" class="col-md-3" style="margin-right:5px;">
                                    {% csrf_token %}
                                    <input value="{{ x.id }}" name="entry_id" type="hidden">
                                    <button  type="submit" class="btn btn-primary btn-xs" name="entry_id" value="{{ x.id }}" class="btn btn-danger" style="color:'red;'">
                                    UPDATE PROFILE
                                    </button>
                                 </form>
	
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					
      {% endfor %}
					
					




					
				</div>
				
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

{% endblock %}




