{% extends 'educator/header_footer.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">Update your details Now </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
		<form action="{% url 'Update_Profile1' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
	{% for x in db %}
		Full name:<input type="text" name="name" value="{{x.name}}">
		Email:<input type="email" name="email"value="{{x.email}}">
		Password:<input type="text" name="password" value="{{x.password}}">
		place:<input type="text" name="city" value="{{x.city}}">
		Phone_no:<input type="text" name="mobile" value="{{x.mobile}}">
		Image:<input type="file" name="img" value="">
	<input type="submit" name=""  value=" update">
		{% endfor %}
	</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
{% endblock %}
